<!doctype html>
<html>
<head>
    <link rel="stle" href="/static/madlibs.css">
    <title>A Compliment</title>
</head>
<body>
    <p>this is a test</p>
    <form action = "/madlib">
        First Name: <input type = "text" name = "firstname"><br>
        Color: <input type = "text" name = "noun"><br>
        Adjective: 
        <select name = "adj">
            <option value = "big">Big</option>
            <option value = "small">Small</option>
        </select><br>

        Countries you would like to go?:
        <input type="checkbox" name="country" value="england">England
        <input type="checkbox" name="country" value="spain">Spain
        <input type="checkbox" name="country" value="japan">Japan
        <input type="checkbox" name="country" value="german">German
        <input type ="submit">
    </form>
    

</body>
</html>